body {
    background-image: url(../images/sweet-shop-counter.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
}

.open-sign {
    background: #007B1B;
    border: 3px solid #FFF0DF;
    border-radius: 40px;
    max-width: 25%; 
    position: absolute;
    width: 321px;
    height: 260px;
    left: 31px;
    top: 26px;

}
    .open-sign h1 {
        position: absolute;
        left: 50%;
        top: 5%;
        transform: translateX(-50%);
        margin: auto; 
        font-family: 'Alegreya Sans';
        font-style: normal;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 70px;
        color: #EFFF8F;
        text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.5);
    }

    .shift-stats {
        font-family: 'Alegreya Sans';
        font-style: italic;
        font-weight: 400;
        font-size: 25px;
        position: absolute; 
        top: 40%; 
        left: 8%; 
    }

        #customer-counter {
            color: #98FF87;
        }

        #tips-tracker {
            color: #FFBD6F;
        }

    .shift-status {
        display: flex; 
        position: absolute; 
        top: 40%; 
        left: 50%; 
        transform: translateX(-50%);
        max-width: 100%; 
    }

        .shift-status img {
            padding: 0px 6px; 
            transform: translateY(-25%);
        }

        /* Container for the status bar */
        .daily-status-container {
            width: 213px;
            height: 12px;
            background-color: #F5F5F5;
            border: 2px solid black;
        }

            .daily-progress-bar {
                background-color: #9DCDFA;
                max-width: 100%; 
                height: 12px; 
                animation: shiftAnimation 240s linear;
            }

            /* Define keyframes for shift bar animation */
            @keyframes shiftAnimation {
                0% {
                width: 0%; /* Start with width of 100% */
                }
                25% {
                width: 25%; /* Width increases to 25% */
                }
                50% {
                width: 50%; /* Width increases to 50% */
                }
                75% {
                width: 75%; /* Width increases to 25% */
                }
                100% {
                width: 100%; /* Width increases to 0% */
                }
            }

    #end-shift-btn {
        border: 2px solid darkred; 
        border-radius: 20px;
        background-color: red;
        position: absolute; 
        top: 85%; 
        left: 50%;
        transform: translateX(-50%);
    }

#closed-sign {
    display: none; 
    background: #B52C2C;
    border: 4px solid #3A0202;
    border-radius: 40px;
    max-width: 25%; 
    position: absolute;
    width: 321px;
    height: 248px;
    left: 31px;
    top: 26px;
}

    #closed-sign h1 {
        position: absolute;
        left: 50%;
        top: 35%;
        text-align: center;
        transform: translateX(-50%);
        margin: auto; 
        font-family: 'Alegreya Sans';
        font-style: normal;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 60px;
        color: #040B43;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    

.navbar {
    max-width: 50%;
    margin: auto;
    background-color: lightgrey;
    border: 3px solid black;
    border-radius: 20px;
    height: 80px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    position: fixed; 
    bottom: 0; 
    left: 25%;
    right: 25%; 
    
}

.navbar-button {
    border: 2px solid black;
    border-radius: 40px;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}

    #order-button{
        background-color: #FA9DCF;
    }

    #fry-button { 
        background-color: #FFB077;
    }

    #decorate-button { 
        background-color: #98FF87;
    }

    .navbar-button:focus {
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .navbar-button:hover{
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    }

.orders-tab {
    position: fixed; 
    right: 0;
    top: 5%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
    .orders {
        border: 2px solid black; 
        background-color: #FFF0DF;
        display: flex; 
        position: absolute;
        width: 336px;
        height: 165px;
        left: 19px;
        border-radius: 20px;
    }

        #order-1{
            top: 100px;
        }

        #order-2{
            top: 290px;
        }

        #order-3 {
            top: 480px;
        }

        .orders img {
            padding: 5%; 
        }

            .donut-order { 
                display: flex;
                max-height: 165px; 
            }

            /* Container for the status bar */
            .status-bar-container {
                width: 50%;
                height: 35px; 
                background-color: #F5F5F5;
                border: 2px solid black;
                border-radius: 20px;
                position: absolute; 
                bottom: 5%; 
                right: 2%; 
                z-index: 0;
            }
  
                /* Progress bar styles */
                .progress-bar {
                    position: absolute; 
                    top: 0; 
                    left: 0;
                    border-radius: 20px;
                    height: 100%;
                    width: 100%; /* Set initial width to 100% */
                    background-color: green; /* Set initial background color to green */
                    animation: progressAnimation 120s linear; /* Define animation for progress bar */
                    animation-direction: reverse;
                }

                /* Define keyframes for progress bar animation */
                @keyframes progressAnimation {
                    100% {
                    width: 100%; /* Start with width of 100% */
                    background-color: green; /* Start with green color */
                    }
                    75% {
                    width: 75%; /* Width decreases to 75% */
                    background-color: orange; /* Color changes to orange */
                    }
                    50% {
                    width: 50%; /* Width decreases to 50% */
                    background-color: yellow; /* Color changes to yellow */
                    }
                    25% {
                    width: 25%; /* Width decreases to 25% */
                    background-color: red; /* Color changes to red */
                    }
                    0% {
                    width: 0%; /* Width decreases to 0% */
                    background-color: darkred; /* Color changes to dark red */
                    }
                }

#credits-btn {
    position: fixed; 
    bottom: 0; 
    right: 0; 
    border: 1px solid black;
    border-radius: 20px;
    background-color: #fdf6b3;
}
    #credits-div {
        display: none;
        position: fixed; 
        bottom: 5%; 
        right: 0; 
        background-color: #fdf6b3;
        padding: 1rem; 
    }
        