<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Game UI Element Layout </title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="navbar">
        <div class="button-container">
            <button class="navbar-button" id="order-button"> order station </button>
        </div>

        <div class="button-container">
            <button class="navbar-button" id="fry-button"> fry station </button>
        </div>

        <div class="button-container">
            <button class="navbar-button" id="decorate-button"> decorate station </button>
        </div>
    </div>

    <div class="element-container">
        <div class="orders-tab">
            <img id="orders-tab" src="images/orders-tab-blank.png">
            <div class="orders" id="order-1"> 
                <img src="images/blue heart sprinkles donut.png">
                <h1> 3 donuts </h1>

                <div class="status-bar-container">
                    <!-- Progress bar element -->
                    <div class="progress-bar"></div>
                </div>
            </div>

            <div class="orders" id="order-2"> 

            </div>

            <div class="orders" id="order-3"> 

            </div>
        </div>
    </div>
</body>

</html>